.o-programa__titulo {
    color: var(--cor-titulos-maiores);
    font-family: var(--fonte-titulos-maiores);
    font-size: 3.1875rem;
    margin-bottom: 1rem;
}

.o-programa__titulo--ingles {
    font-family: var(--fonte-titulos-ingles);
}