.menu__link {
    color: var(--cor-texto-cabecalho);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link--ativo {
    color: var(--cor-texto-cabecalho-ativo);
    font-weight: bold;
}

.menu__link:last-child {
    margin-right: none;
}

.menu__link:hover {
    color: var(--cor-texto-cabecalho-hover);
}
