.contato {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fonte-descricao);
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contato__titulo {
    color: var(--fonte-titulo);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.contato__descricao {
    margin-bottom: 2rem;
}

.contato__endereco {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.contato__contato {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.contato__contato-telefone {
    line-height: normal;
}

.contato__contato-email {
    color: var(--fonte-link);
    text-decoration: underline;
    display: block;
}

.contato__mapa {
    display: block;
}

@media screen and (min-width: 768px) {
    .contato__descricao {
        padding-right:1rem;
    }

    .contato__contato-email {
        display: inline-block;
        padding-right: 1rem;
    }

    .contato__mapa {
        width: auto;
        padding-left: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .contato__conteudo {
        display: flex;
        justify-content: space-between;
        
        text-align: left;
    }

    .contato__descricao {
        padding-right: 1rem;
    }

    .contato__mapa {
        display: block;
        padding-left: 1rem;
    }

    .contato__contato-email {
        display: block;
        padding-left: 1rem;
    }
}
