.planos {    
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.planos__titulo {
    color: var(--fonte-titulo);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1.25rem;
}

.planos__cartoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao {
    display: flex;
    flex-direction: column;

    background-color: var(--bg-cartao-planos);

    width: 100%;
    max-width: 300px;

    margin-bottom: 2rem;

    border-radius: 8px;
    box-shadow: 0 2px 4px 2px var(--borda-cartao-planos);
}

.cartao:hover {
    box-shadow: 2px 4px 6px 4px var(--borda-cartao-planos);
}

.cartao__titulo {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;

    padding: .75rem 0;

    margin-bottom: .5rem;

    border-bottom: 1px solid var(--borda-cartao-planos);
}

.cartao__conteudo {
    padding: 0 15%;
}

.cartao__preco {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;

    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.cartao__texto {
    color: var(--fonte-subtitulo);
    line-height: 28px;
}

.cartao__botao {
    font-size: 1.2rem;
    font-weight: 700;

    width: 100%;

    align-self: center;

    padding: .75rem 2rem;

    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: var(--bg-cartao-planos);
}

.cartao__botao:hover {
    border-width: 4px;
}

.cartao--mensal {
    color: var(--fonte-plano-mensal);
}

.cartao--quinzenal {
    color: var(--fonte-plano-quinzenal);
}

.cartao--semanal {
    color: var(--fonte-plano-semanal);
}

.cartao__botao--mensal {
    color: var(--fonte-plano-mensal);
    border-color: var(--fonte-plano-mensal);
}

.cartao__botao--quinzenal {
    color: var(--fonte-plano-quinzenal);
    border-color: var(--fonte-plano-quinzenal);
}

.cartao__botao--semanal {
    color: var(--fonte-plano-semanal);
    border-color: var(--fonte-plano-semanal);
}

@media screen and (min-width: 768px) {
    .cartao {
        max-width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .planos__cartoes {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .cartao {
        max-width: 300px;
    }
}
