.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--cor-fundo-rodape);
    color: var(--cor-texto-rodape);
    padding-left: 10rem 0;

}

.rodape__titulo {
    color: var(--cor-titulos-maiores);
    font-family: var(--fonte-titulos-maiores);
    text-align: center;
    width:100%;
    margin: 1.5rem 0;
}

.rodape__titulo--ingles {
    font-family: var(--fonte-titulos-ingles);
}

@media screen and (min-width: 0) {
    .rodape {
        font-size: 1.125rem;
        padding: 0 5rem;
    }
}
@media screen and (min-width: 768px) {
    .rodape {
        font-size: 2rem;
        padding: 0 5rem;
    }
}