.portfolio__descricao {
    color: var(--cor-texto-portfolio);
    font-weight: 100;
}

@media screen and (min-width: 0) {
    .portfolio__descricao {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 768px) {
    .portfolio__descricao {
        font-size: 1.75rem;
    }
}
